@import url('theme/00-settings/settings.variables.css');
@import url('phucstrap/01-tools/tools.modularscale.css');
/* @import url('phucstrap/02-generic/generic.normalize.css'); */
@import url('phucstrap/02-generic/generic.custom.css');
@import url('phucstrap/04-objects/object.wp-admin.css');

/* media object */
.is-style-mediaobject.wp-block-wtp-block > .editor-inner-blocks > .editor-block-list__layout
, .is-style-mediaobject-reverse.wp-block-wtp-block > .editor-inner-blocks > .editor-block-list__layout {
    display: grid;
    grid-gap: calc(var(--gutter) * 2);
    padding-top: calc(var(--gutter) * 2);
    padding-bottom: calc(var(--gutter) * 2);

    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.is-style-mediaobject.wp-block-wtp-block [data-type='wtp/block-media'] figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 25%;    
}

.wp-block-wtp-block.is-style-mediaobject [data-type="wtp/block-content"] {
    padding-top: calc(var(--gutter) * 2);
    padding-bottom: calc(var(--gutter) * 2);
    padding-left: 0;
    padding-right: 0;
}


/* media ojbect reverse */
.is-style-mediaobject-reverse.wp-block-wtp-block > .editor-inner-blocks > .editor-block-list__layout {
    direction: rtl
}

.is-style-mediaobject-reverse.wp-block-wtp-block > .editor-inner-blocks > .editor-block-list__layout > * {
    direction: ltr;
} 

/* hero */
.is-style-hero.wp-block-wtp-block > .editor-inner-blocks > .editor-block-list__layout {
    position: relative;
    display: grid;
    min-height: 100vh;
}

.is-style-hero.wp-block-wtp-block > .editor-inner-blocks > .editor-block-list__layout > * {
    grid-column: -1 / 1;
    grid-row: -1 / 1;
}

.is-style-hero.wp-block-wtp-block [data-type='wtp/block-media'] figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 25%;
}

/* fix */
.is-style-hero.wp-block-wtp-block [data-type='wtp/block-content'] {
    position: relative;
    align-self: center;
    justify-self: flex-end;
}

.is-style-hero.wp-block-wtp-block [data-type='wtp/block-content'] > .editor-block-list__block-edit {
    display: grid;
}
/* end fix */

.is-style-hero.wp-block-wtp-block [data-type='wtp/block-content'] > .editor-block-list__block-edit  > [data-block] {
    position: relative;
    align-self: center;
    justify-self: flex-end;
}

.is-style-hero.wp-block-wtp-block .wp-block-wtp-block-content {
    padding: calc(var(--gutter) * 5);
    background-color: rgba(0,0,0, .25);
    border: 1px solid rgba(0,0,0, .25);
}





/* section */
.is-style-grid.wp-block-wtp-section > .editor-inner-blocks > .editor-block-list__layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--gutter) * 3);

    padding-top: calc(var(--gutter) * 9);
    padding-bottom: calc(var(--gutter) * 9);
}

.is-style-grid-3.wp-block-wtp-section > .editor-inner-blocks > .editor-block-list__layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: calc(var(--gutter) * 3);
}