/*--------------------------------------------------------------
# NAV
--------------------------------------------------------------*/
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav__link {
    text-decoration: none;
    color: inherit;
}

.nav--primary {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gutter) * -2);
    margin-bottom: calc(var(--gutter) * -2);
}

/*--------------------------------------------------------------
# NAV PRIMARY
--------------------------------------------------------------*/
.nav--primary .nav__item {
    margin-left: calc(var(--gutter) * 2);
    margin-bottom:  calc(var(--gutter) * 2);
}

.nav--primary .nav__link {
    color: var(--color-white);
    font-size: var(--font-size-8);
}

/*--------------------------------------------------------------
# NAV FOOTER
--------------------------------------------------------------*/
.nav--footer {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gutter) * -1);
    margin-bottom: calc(var(--gutter) * -1);
}

.nav--footer .nav__item {
    margin-left: var(--gutter);
    margin-bottom: var(--gutter);
}
