/*--------------------------------------------------------------
# BLOCKS
--------------------------------------------------------------*/
.block__content > *:not(:first-child) {
    margin-top: calc(var(--gutter) * 2);
}

/*--------------------------------------------------------------
# BLOCKS MEDIA OBJECT
--------------------------------------------------------------*/
.block.is-style-mediaobject {
    display: grid;
    grid-gap: calc(var(--gutter) * 2);
    padding-top: calc(var(--gutter) * 2);
    padding-bottom: calc(var(--gutter) * 2);
}

.block.is-style-mediaobject-reverse {
    direction: rtl
}

.block.is-style-mediaobject .block__media {
    position: relative;
    height: 100%;
    min-height: 50vh;
}

.block.is-style-mediaobject .block__media img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block.is-style-mediaobject .block__content {
    padding-left: calc(var(--gutter) * 2);
    padding-right: calc(var(--gutter) * 2);
    margin-right: calc( 100% - var(--max-width-2) / 2 );
}

@media all and (min-width: 42em) {
    .block.is-style-mediaobject {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .block.is-style-mediaobject .block__content {
        padding-top: calc(var(--gutter) * 2);
        padding-bottom: calc(var(--gutter) * 2);
        padding-left: 0;
        padding-right: 0;
    }
}


/*--------------------------------------------------------------
# BLOCKS MEDIA OBJECT REVERSE
--------------------------------------------------------------*/
.block.is-style-mediaobject-reverse > * {
    direction: ltr;
}


/*--------------------------------------------------------------
# BLOCKS HERO
--------------------------------------------------------------*/
.block.is-style-hero {
    position: relative;
    display: grid;
    min-height: 100vh;
}

.block.is-style-hero > * {
    grid-column: -1 / 1; 
    grid-row: -1 / 1;
}

.block.is-style-hero .block__media {
    position: relative;
}

.block.is-style-hero .block__media > figure  img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 25%;
}

.block.is-style-hero .block__content {
    position: relative;
    padding: calc(var(--gutter) * 5);

    align-self: center;
    justify-self: flex-end;

    background-color: rgba(0,0,0, .25);

    border: 1px solid rgba(0,0,0, .25);
}