/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.footer {
    background-color: var(--color-black);
    color: var(--color-white);
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__content > * {
    font-size: var(--font-size-9);
}