/*--------------------------------------------------------------
# LAYOUT
--------------------------------------------------------------*/
:root {
    --gutter: .8rem;
    --gutter-description: var(--font-size);

    --max-width: 58em;
    --max-width-2: 46em;
    --max-width-3: 30em;
}

/*--------------------------------------------------------------
# COLORS
--------------------------------------------------------------*/
:root {
    --color-white: #fff;
    --color-black: #000;

    --color-1: #f19225;
    --color-2: #1178ac;
    --color-3: #9d9d9c;

    --color-4: #A63446;
    /* --color-5: #DBD3AD; */
    --color-5: #211826;
    
}

/*--------------------------------------------------------------
# FONT
--------------------------------------------------------------*/
:root {
    /* Font Family */
    --font-family: 'Montserrat', sans-serif;
    --font-family-2: 'Karla', sans-serif;

    --font-family-h1: var(--font-family-2);
    --font-family-h2: var(--font-family-2);
    --font-family-h3: var(--font-family-2);
    --font-family-h4: var(--font-family-2);
    --font-family-h5: var(--font-family-2);
    --font-family-h6: var(--font-family-2);


    /* Modular Scale */
    --font-size: calc(1.2rem + 0.698vw);
    --font-size-ratio: 1.25;
    --line-height: 1.33;

    /* Line Height */
    --line-height-0: var(--line-height);
    --line-height-1: var(--line-height);
    --line-height-2: var(--line-height);
    --line-height-3: var(--line-height);
    --line-height-4: var(--line-height);
    --line-height-5: var(--line-height);
    --line-height-6: var(--line-height);
    --line-height-7: var(--line-height);
}

@media (min-width:64em) {
  :root {
    --font-size-ratio: 1.333;
  }
}

/*--------------------------------------------------------------
# ANIMATION
--------------------------------------------------------------*/
:root {
    --transition-time: .3s;
    --transition-style : ease-in-out;
}